* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Inter", sans-serif;
  background-color: #673070;
  box-sizing: border-box;
  position: relative;
}

h1, h2, h3, p {
  margin: 0;
}

h1, h2 {
  font-weight: 700px;
}

p {
  font-weight: 400px;
}

button {
  all: unset;
  cursor: pointer;
  display: flex;
}

#app {
  display: flex;
  position: absolute;
  top: 50px;
  right: 6px;
  bottom: 6px;
  left: 103px;
  color: #000000;
}

// Боковое меню
.sidebar {
  min-width: 262px;
  background-color: #d6c4da;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

// Шапка бокового меню
.sidebar-header {
  border-bottom: 1px solid #bcaec1;
  padding: 16px 12px 18px;
  display: flex;
  justify-content: space-between;

  .sidebar-title {
    display: flex;
    gap: 8px;

    h1 {
      font-size: 24px;
      font-weight: 700;
      line-height: 29.05px;
      letter-spacing: -0.01em;
    }

    img {
      width: 12px;
    }
  }

  img {
    width: 17px;
  }
}

// Основная часть бокового меню

.sidebar-main {
  padding: 18px 12px 33px;

  .sidebar-menu {
    display: flex;
    flex-direction: column;

    .sidebar-menu-btn {
      gap: 12px;
      padding: 7px 0 0 19px;
    
      img {
        width: 20px;
      }
    
      p {
        font-size: 20px;
        line-height: 24.2px;
        letter-spacing: -0.04em;
        color: #464446;
      }
    }
  }
}

// Список каналов

.channels {

  .channels-header {
    gap: 17px;
    margin: 18px 0 12px;
  
    p {
      font-size: 20px;
      line-height: 24.2px;
      letter-spacing: -0.04em;
      color: #464446;
    }
  }

  .channels-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 65%;
    max-height: 532px;
    overflow: auto;
    scrollbar-width: none;
    max-width: 238px;
  
    button {
      gap: 16px;
      padding: 8px 31px 8px 12px;
      max-width: 238px;
      max-height: 38px;

      img {
        width: 18px;
        height: 18px;
      }

      p {
        font-size: 18px;
        line-height: 21.78px;
        letter-spacing: 0.02em;
        text-align: left;
        color: #464446;
        display: block;
        max-width: 161px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }

    button:focus {
      background-color: #350d36;
      max-width: 238px;
      border-radius: 8px;

      p {
        color: #FFFFFF;
      }
    }
  }

  .rollup-icon {
    transition: transform 0.3s ease;
  }
  
  .rollup-icon.rotated {
    transform: rotate(-90deg);
  }

  .add-channel-btn {
    gap: 16px;
    padding: 8px 31px 8px 12px;

    p {
      font-size: 18px;
      line-height: 21.78px;
      letter-spacing: 0.02em;
      color: #464446;
    }
  }
}

.hidden {
  display: none;
}





// .channels-list li {
//   padding: 10px 20px;
//   cursor: pointer;
// }

// .channels-list li:hover {
//   background-color: #350d36;
// }

// .main {
//   flex: 1;
//   display: flex;
//   flex-direction: column;
// }

// .chat-header {
//   padding: 20px;
//   background-color: #eee;
// }

// .chat-content {
//   flex: 1;
//   padding: 20px;
//   overflow-y: auto;
//   background-color: #f9f9f9;
// }

// .message {
//   margin-bottom: 20px;
// }

// .chat-input {
//   padding: 10px;
//   border-top: 1px solid #ddd;
//   background-color: #fff;
// }

// .chat-input input {
//   width: 100%;
//   padding: 10px;
//   border: 1px solid #ddd;
//   border-radius: 4px;
// }
