// Цвета
$bg-color-layout: #673070;;

$bg-color-white: #FFFFFF;
$bg-color-lilac: #D6C4DA;
$bg-color-violet: #592365;

$text-color-black: #000000;
$text-color-grey-menu: #464446;
$text-color-grey-chat: #60605F;
$text-color-white: #FFFFFF;

$border-btn-color: #E1E1E3;

//  Размеры
$header-height: 63px;
$border-bottom: 1px solid #bcaec1;
$border-radius: 10px;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Inter", sans-serif;
  background-color: $bg-color-layout;
  box-sizing: border-box;
  position: relative;
  display: flex;
}

h1, h2, h3, p {
  margin: 0;
}

h1, h2 {
  font-weight: 700px;
}

p {
  font-weight: 400px;
}

button {
  all: unset;
  cursor: pointer;
  display: flex;
}

button:hover {
  opacity: 0.8;
}

#app {
  display: flex;
  margin: auto;
  // position: absolute;
  // right: 6px;
  // bottom: 6px;
  color: $text-color-black;
  min-height: 814px;

  display: grid;
  grid-template-columns: 262px 829px;
  grid-template-rows: 63px 751px;
}

// Боковое меню
.sidebar {

  .sidebar-header {
    background-color: $bg-color-lilac;
    border-top-left-radius: $border-radius;
    border-bottom: $border-bottom;
    max-height: $header-height;
    padding: 16px 12px 18px;
    display: flex;
    justify-content: space-between;
    grid-area: 1 / 1 / 2 / 2;

    .sidebar-title {
      display: flex;
      gap: 8px;

      h1 {
        font-size: 24px;
        font-weight: 700;
        line-height: 29.05px;
        letter-spacing: -0.01em;
      }

      img {
        width: 12px;
      }
    }

    img {
      width: 17px;
    }
  }

  .sidebar-main {
    padding: 18px 12px 33px;
    grid-area: 2 / 1 / 3 / 2;
    background-color: $bg-color-lilac;
    border-bottom-left-radius: $border-radius;
    min-height: 751px;

    .sidebar-menu {
      display: flex;
      flex-direction: column;
      gap: 7px;

      .sidebar-menu-btn {
        gap: 12px;
        padding: 7px 0 0 19px;
      
        img {
          width: 20px;
        }
      
        p {
          font-size: 20px;
          line-height: 24.2px;
          letter-spacing: -0.04em;
          color: $text-color-grey-menu;
        }
      }
    }

    .channels {
      .channels-header {
        gap: 17px;
        margin: 24px 0 12px;
      
        p {
          font-size: 20px;
          line-height: 24.2px;
          letter-spacing: -0.04em;
          color: $text-color-grey-menu
        }
      }
    
      .channels-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 65%;
        max-height: 532px;
        overflow: auto;
        scrollbar-width: none;
        max-width: 238px;
      
        button {
          position: relative;
          gap: 16px;
          padding: 8px 31px 8px 12px;
          max-width: 238px;
          max-height: 38px;
          background: transparent;
          border: none; 
    
          svg {
            width: 18px;
            height: 18px;
            z-index: 1;
          }
    
          p {
            font-size: 18px;
            line-height: 21.78px;
            letter-spacing: 0.02em;
            text-align: left;
            color: $text-color-grey-menu;
            display: block;
            max-width: 161px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }

          &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: transparent;
            z-index: -1; 
            border-radius: 8px;
            transition: background-color 0.3s ease;
            width: 238px;
          }

          &:focus::before {
            background-color: $bg-color-violet;
            border-radius: 8px;
            z-index: 0;
          }
    
          &:focus p {
            color: $text-color-white;
            z-index: 1;
          }

          &:focus svg path {
            stroke: white;
          }
        }
      }
    
      .rollup-icon {
        transition: transform 0.3s ease;
      }
      
      .rollup-icon.rotated {
        transform: rotate(-90deg);
      }
    
      .add-channel-btn {
        gap: 16px;
        padding: 8px 31px 8px 12px;
    
        p {
          font-size: 18px;
          line-height: 21.78px;
          letter-spacing: 0.02em;
          color: $text-color-grey-menu;
        }
      }
    }
  
    .hidden {
      display: none;
    }
  }
}

// Чат
.chat {

  .chat-header {
    max-height: $header-height;
    border-bottom: $border-bottom;
    border-top-right-radius: $border-radius;
    background-color: $bg-color-white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 16px 19px 24px;
    margin: 0;
    grid-area: 1 / 2 / 2 / 3;

    .chat-name {
      display: flex;
      align-items: center;
      gap: 4px;

      h2 {
        font-size: 24px;
        font-weight: 700;
        line-height: 29.05px;
        letter-spacing: -0.04em;
      }
  
      .chat-header-lock {
        width: 24px;
        height: 24px;
      }
    }

    .chat-settings {
      display: flex;
      flex-direction: row;
      gap: 9px;
      padding-top: 6px;

      .chat-setting {
        max-height: 37px;
        display: flex;
        align-items: center;
        border-radius: 8px;
        border: 1px solid $border-btn-color;
      }

      .chat-participants {
        display: flex;
        gap: 5px;
        padding: 6px 10px 4px 6px;

        span {
          font-size: 16px;
          font-weight: 600;
          line-height: 19.36px;
          letter-spacing: -0.045em;
          color: $text-color-grey-chat;
        }

        .chat-participants-list {
          display: flex;
          flex-direction: row;
          list-style-type: none;
          align-items: center;
          padding: 0 0 0 0;
          margin: 0;
          height: 28px;

          li {
            height: 28px;
            position: relative;

            &:not(:first-child) {
              margin-left: -4px;
            }
          }

          img {
            width: 28px;
            height: 28px;
            border: 2px solid white;
            border-radius: 8px;
          }
        }
      }

      .chat-earflap {
        .icon-earflap {
          padding: 0 8px 0 9px;
          border-right: 1px solid $border-btn-color;
        }

        .icon-arrow {
          padding: 0 10px 0 11px;
        }
      }

      .chat-document {
        padding: 0 7.5px;

        img {
          width: 22px;
          height: 22px;
        }
      }

    }
  }

  .chat-container {
    background-color: $bg-color-white;
    border-bottom-right-radius: $border-radius;
    grid-area: 2 / 2 / 3 / 3;
    background-color: $bg-color-white;
    min-height: 751px;

    .chat-pinned {
      width: 100%;
      background-color: white;
      height: 45px;
      display: flex;
      flex-direction: row;
      padding-left: 24px;
      border-bottom: 1px solid #e1e1e3;
      gap: 24px;

      .pinned-btn {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;

        .btn-icon-pin { 
          width: 18px;
          height: 18px;
        }

        .btn-icon-plus {
          width: 14px;  
          height: 14px;
        }

        .pinned-btn-text {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin: 0;
          font-size: 16px;
          font-weight: 400;
          line-height: 19.36px;
          letter-spacing: 0.01em;
          color: #616060;
        }
      }
    }

    // Контент чата
    .chat-content {
      padding: 20px 84px 40px 24px;
      overflow-y: auto;
      background-color: white;
      max-height: 510px;
      scrollbar-width: none;

      ul {
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 18px;
        margin: 0;
      }
    
      .message {
        display: flex;
        gap: 11px;
    
        img {
          max-width: 48px;
          max-height: 48px;
          min-width: 48px;
          min-height: 48px;
          border-radius: 10px;
        }
    
        p {
          margin: 0;
          font-size: 18px;
          font-weight: 400;
          line-height: 21.78px;
        }
    
        .message-container {
          display: flex;
          flex-direction: column;
          gap: 6px;
    
          .message-info {
            display: flex;
            gap: 10px;
    
            .message-author {
              font-size: 18px;
              font-weight: 700;
              line-height: 21.78px;
            }
    
            .message-time {
              font-size: 16px;
              font-weight: 400;
              line-height: 19.36px;
              letter-spacing: -0.035em;
              color: #616060;
            }
          }
    
          .message-emoji {
            display: flex;
            gap: 6px;
    
            button {
              background-color: #f6f7f6;
              border-radius: 100px;
              display: flex;
              align-items: center;
              max-height: 32px;
            }
            
    
            .emoji-btn-count {
              padding: 0 8px;
              gap: 7px;

              &.active {
                background-color: #42aaff;
                
                span {
                  color: white;
                }
              }

              img {
                max-width: 20px;
                max-height: 22px;
                min-width: 20px;
                min-height: 22px;
                border: none;
              }
    
              span {
                font-size: 14px;
                font-weight: 500;
                line-height: 16.94px;
                letter-spacing: -0.005em;
                color: #616060;
              }
            }
    
            .emoji-btn-add {
              padding: 6px 12px;

              img {
                max-width: 20px;
                max-height: 20px;
                min-width: 20px;
                min-height: 20px;
                border: none;
              }
            }
          }
        }
      }
    
      .hr {
        display: flex;
    
        .hr-line {
          width: 100%;
          position: relative;
          margin: 0 -84px 0 -84px;
          border-bottom: 1px solid #e1e1e3;
          height: 19.5px;
        }
    
        .hr-content {
          position: relative;
          margin-left: 70px;
          display: flex;
          border: 1px solid #e1e1e3;
          padding: 10px 17px;
          border-radius: 100px;
          background-color: white;
          gap: 11px;
          z-index: 2;
    
          p {
            margin: 0;
            font-size: 16px;
            font-weight: 500;
            line-height: 19.36px;
            letter-spacing: -0.005em;
          }
        }
      }
    }

    // Редактор сообщения
    .rich-text {
      display: flex;
      flex-direction: column;
      color: var(--color);
      border: 1px solid #e1e1e3;
      border-top-left-radius: 9px;
      border-top-right-radius: 9px;
      margin: 0 24px;
    
      .toolbar {
        min-height: 50px;
        max-height: 50px;
        border-top-left-radius: 9px;
        border-top-right-radius: 9px;
    
        display: flex;
        align-items: center;
        gap: 20px;
    
        padding: 16px 20px;
        background: #f8f8f8;
    
        hr {
          width: fit-content;
          min-height: 26px;
          border: none;
          border-right: 1px solid #e1e1e3;
          margin: 0;
        }
    
        .btn {
          cursor: pointer;
          position: relative;
          display: block;
          border-radius: 4px;
          color: #c8c9ca;
          margin: 0;
          transition: all ease 0.5s;
    
          &:active {
            transform: scale(0.9);
          }
    
          svg {
            width: 18px;
            height: 18px;
          }
        }
      }
    
      .content {
        display: flex;
        gap: 5px;
        width: 100%;
        height: 100%;
        padding: 10px 16px 0;
        background: #ffffff;
        outline: none;
        align-items: center;
        overflow: auto;
    
        p {
          margin: 0;
          font-size: 20px;
          font-weight: 400;
          line-height: 24.2px;
          letter-spacing: -0.04em;
          color: #8d8d8d;
        }
      }
    
      .options-container {
        background: #ffffff;
        padding: 24px 15px 20px 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        .options {
          display: flex;
          align-items: center;
          gap: 14px;
    
          .btn {
            width: 32px;
            height: 32px;
            align-items: center;
          }
    
          hr {
            width: fit-content;
            min-height: 26px;
            border: none;
            border-right: 1px solid #e1e1e3;
            margin: 0;
          }
        }
    
        .send {
          display: flex;
          align-items: center;
          gap: 10px;
    
          hr {
            width: fit-content;
            min-height: 26px;
            border: none;
            border-right: 1px solid #e1e1e3;
            margin: 0;
          }
        }
      }
    }
  }
}

